.ad_show
	.title
		= I18n.t :created_at
		= @ad.created_at
	.ad_text
		= simple_format @ad.plain_text
	.ad_images
		- @ad.images.each do |ad_image|
			.img_review
				%img{src: "/system/uploads/#{ad_image.filename}"}
				%p
					= ad_image.comment